/* Arcade Lettering from Snow Bros. (1990) */
/* As seen in Toshi Omagari’s book Arcade Game Typography */

:root {
  --blue: #00A2E2;
  --blue-light: #09C5D8;
  --green: #00A323;
  --shadow: #3D060A;
}

body {
  padding: 30px;
  background-color: #eee;
}

.snow-bros li {
  width: 80px;
  height: 80px; /* Assuming height = width */
  margin: 15px;
  background-repeat: no-repeat;
  display: inline-block;
}

.snow-bros li.a {
  background-image: 
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    50px 10px, /* Example size; adjust as needed */
    30px 70px,
    10px 10px,
    20px 10px,
    20px 20px,
    10px 80px,
    20px 60px,
    10px 60px;
  background-position: 
    10px 0,
    0 10px,
    40px 10px,
    50px 10px,
    30px 30px,
    30px 0,
    50px 20px,
    70px 20px;
}

.snow-bros li.b {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.c {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow), var(--shadow)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--green), var(--green)),
    linear-gradient(to left, var(--green), var(--green)),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    10px 60px,
    20px 80px,
    40px 10px,
    10px 10px,
    30px 10px,
    30px 10px,
    40px 10px,
    20px 10px,
    10px 80px;
  background-position: 
    0 10px,
    10px 0,
    30px 0,
    40px 10px,
    50px 10px,
    50px 50px,
    30px 60px,
    40px 70px,
    30px 0;
}

.snow-bros li.d {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.e {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.f {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.g {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.h {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.i {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}


.snow-bros li.j {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}


.snow-bros li.k {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.l {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.m {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.n {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.n {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.o {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.p {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.r {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.s {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.t {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.u {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.v {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  background-size: 
    30px 80px,
    40px 10px,
    10px 10px,
    30px 20px,
    40px 10px,
    10px 10px,
    20px 20px,
    10px 80px,
    20px 40px,
    10px 40px;
  background-position: 
    0 0,
    30px 0,
    40px 10px,
    50px 10px,
    30px 30px,
    40px 40px,
    30px 60px,
    30px 0,
    50px 40px,
    70px 40px;
}

.snow-bros li.w {
  background-image: 
  linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
  linear-gradient(to left, var(--blue), var(--blue)),
  linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
  linear-gradient(to left, var(--blue), var(--blue)),
  linear-gradient(to left, var(--blue), var(--blue)),
  linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
  linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
  linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
  linear-gradient(to top, var(--shadow), var(--shadow));

  background-size: 
    30px 80px,   /* Tamaño para el primer gradiente */
    40px 10px,   /* Tamaño para el segundo gradiente */
    10px 10px,   /* Tamaño para el tercer gradiente */
    30px 20px,   /* Tamaño para el cuarto gradiente */
    40px 10px,   /* Tamaño para el quinto gradiente */
    10px 10px,   /* Tamaño para el sexto gradiente */
    20px 20px,   /* Tamaño para el séptimo gradiente */
    10px 80px,   /* Tamaño para el octavo gradiente */
    20px 40px,   /* Tamaño para el noveno gradiente */
    10px 40px;   /* Tamaño para el décimo gradiente */

  background-position: 
    0 0,         /* Posición para el primer gradiente */
    30px 0,      /* Posición para el segundo gradiente */
    40px 10px,   /* Posición para el tercer gradiente */
    50px 10px,   /* Posición para el cuarto gradiente */
    30px 30px,   /* Posición para el quinto gradiente */
    40px 40px,   /* Posición para el sexto gradiente */
    30px 60px,   /* Posición para el séptimo gradiente */
    30px 0,      /* Posición para el octavo gradiente */
    50px 40px,   /* Posición para el noveno gradiente */
    70px 40px;   /* Posición para el décimo gradiente */
}

.snow-bros li.x {
  background-image: 
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--blue) 10px),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to left, var(--blue), var(--blue)),
    linear-gradient(to top, var(--shadow) 10px, var(--green) 10px),
    linear-gradient(to top, var(--shadow) 10px, var(--shadow) 10px),
    linear-gradient(to top, var(--green) 10px, var(--green) 30px, var(--blue-light) 30px, var(--blue-light) 40px, var(--blue) 40px),
    linear-gradient(to top, var(--shadow), var(--shadow));
  
  background-size: 
    30px 80px,  /* Primer gradiente */
    40px 10px,  /* Segundo gradiente */
    10px 10px,  /* Tercer gradiente */
    30px 20px,  /* Cuarto gradiente */
    40px 10px,  /* Quinto gradiente */
    10px 10px,  /* Sexto gradiente */
    20px 20px,  /* Séptimo gradiente */
    10px 80px,  /* Octavo gradiente */
    20px 40px,  /* Noveno gradiente */
    10px 40px;  /* Décimo gradiente */
  
  background-position: 
    0 0,         /* Primer gradiente */
    30px 0,      /* Segundo gradiente */
    40px 10px,   /* Tercer gradiente */
    50px 10px,   /* Cuarto gradiente */
    30px 30px,   /* Quinto gradiente */
    40px 40px,   /* Sexto gradiente */
    30px 60px,   /* Séptimo gradiente */
    30px 0,      /* Octavo gradiente */
    50px 40px,   /* Noveno gradiente */
    70px 40px;   /* Décimo gradiente */
}

.snow-bros li.y {
  background-image: 
    linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
    linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
    linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
    linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
    linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
    linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
    linear-gradient(to left, var(--green-double) 10px, var(--green-double) 50px), /* $green-double */
    linear-gradient(to left, var(--shadow) 10px, var(--shadow) 50px); /* full($shadow) */
  
  background-size: 
    20px 10px, /* span(2,1) */
    20px 10px, /* span(2,1) */
    30px 10px, /* span(3,1) */
    30px 10px, /* span(3,1) */
    30px 10px, /* span(3,1) */
    30px 10px, /* span(3,1) */
    30px 50px, /* span(3,5) */
    10px 50px; /* span(1,5) */

  background-position: 
    0px 0px,  /* span(0,0) */
    60px 0px, /* span(6,0) */
    0px 10px, /* span(0,1) */
    50px 10px, /* span(5,1) */
    10px 20px, /* span(1,2) */
    40px 20px, /* span(4,2) */
    20px 30px, /* span(2,3) */
    50px 30px; /* span(5,3) */
}

.snow-bros li.z {
  background-image: 
  linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
  linear-gradient(to left, var(--shadow) 10px, var(--shadow) 20px), /* full($shadow) */
  linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
  linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
  linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
  linear-gradient(to left, var(--blue-light) 10px, var(--blue-light) 20px), /* blue-light(left) */
  linear-gradient(to left, var(--blue) 10px, var(--blue) 20px), /* blue(left) */
  linear-gradient(to left, var(--green) 10px, var(--green) 20px), /* green(left) */
  linear-gradient(to left, var(--green) 10px, var(--green) 20px), /* green(left) */
  linear-gradient(to left, var(--shadow) 10px, var(--shadow) 20px); /* full($shadow) */
background-size: 
  80px 10px, /* span(8,1) */
  40px 10px, /* span(4,1) */
  30px 10px, /* span(3,1) */
  40px 10px, /* span(4,1) */
  30px 10px, /* span(3,1) */
  30px 10px, /* span(3,1) */
  20px 10px, /* span(2,1) */
  30px 10px, /* span(3,1) */
  80px 10px, /* span(8,1) */
  80px 10px; /* span(8,1) */
background-position: 
  0px 0px,  /* span(0,0) */
  0px 10px, /* span(0,1) */
  40px 10px, /* span(4,1) */
  20px 20px, /* span(2,2) */
  20px 30px, /* span(2,3) */
  10px 40px, /* span(1,4) */
  40px 40px, /* span(4,4) */
  0px 50px, /* span(0,5) */
  0px 60px, /* span(0,6) */
  0px 70px; /* span(0,7) */
}